@model List<Article>
@{
    ViewBag.Title = "DeletedsArticle";
    Layout = "~/Areas/EditorProfile/Views/Shared/EditorAreaLayout.cshtml";
}

<h2>Silinmiş Yazılar</h2>

<!-- page start-->
<section class="panel">
    <header class="panel-heading">
        Silinmiş Yazı Listesi
    </header>
    <div class="panel-body">
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Resim</th>
                        <th>Başlık</th>
                        <th>Özet</th>
                        <th>Yazarı</th>
                        <th>Kategorisi</th>
                        <th>Durumu</th>
                        <td class="hidden-phone">Güncelle</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Article item in Model)
                    {
                        <tr class="gradeX">
                            <td>@item.ID</td>
                            @if (item.ImagePath == "Dosya Boş")
                            {
                                <td align="center">
                                    <a href="~/Pictures/Site/news-default.jpg" class="example-image-link" data-lightbox="example-1">
                                        <img src="~/Pictures/Site/news-default.jpg" width="100" height="30" />
                                    </a>
                                </td>
                            }
                            else
                            {
                                <td align="center">
                                    <a href="@item.ImagePath" class="example-image-link" data-lightbox="example-1">
                                        <img src="@item.ImagePath" width="100" height="30" />
                                    </a>
                                </td>
                            }
                            <td>@item.Title</td>
                            <td>@item.Summary</td>
                            <td>@item.Columnist.FullName</td>
                            @if (item.Category == null)
                            {
                                <td>Kategorisi Yok</td>
                            }
                            else
                            {
                                <td>@item.Category.CategoryName</td>
                            }
                            <td>@item.Status</td>
                            <td class="hidden-phone">@Html.ActionLink("Güncelle", "UpdateArticle", "EditorArticle", new { id = item.ID }, new { @class = "btn btn-warning" })</td>
                        </tr>
                    }


                </tbody>
            </table>

        </div>
    </div>
</section>
<!-- page end-->

<script type="text/javascript">
        /* Formating function for row details */
        function fnFormatDetails(oTable, nTr) {
            var aData = oTable.fnGetData(nTr);
            var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
            sOut += '<tr><td>Yazı Resmi:</td><td> ' + aData[2] + '</td></tr>';
            sOut += '<tr><td>Yazı Detay:</td><td><a href="/editor/yazi-detayi/' + aData[1] + ' "class="btn btn-info">Yazı Detayı </a></td></tr>';
            sOut += '</table>';

            return sOut;
        }

        $(document).ready(function () {
            /*
             * Insert a 'details' column to the table
             */
            var nCloneTh = document.createElement('th');
            var nCloneTd = document.createElement('td');
            nCloneTd.innerHTML = '<img src="/Areas/assets/advanced-datatable/examples/examples_support/details_open.png">';
            nCloneTd.className = "center";

            $('#hidden-table-info thead tr').each(function () {
                this.insertBefore(nCloneTh, this.childNodes[0]);
            });

            $('#hidden-table-info tbody tr').each(function () {
                this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
            });

            /*
             * Initialse DataTables, with no sorting on the 'details' column
             */
            var oTable = $('#hidden-table-info').dataTable({
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [0] }
                ],
                "aaSorting": [[1, 'asc']]
            });

            /* Add event listener for opening and closing details
             * Note that the indicator for showing which row is open is not controlled by DataTables,
             * rather it is done here
             */
            $('#hidden-table-info tbody td img').live('click', function () {
                var nTr = $(this).parents('tr')[0];
                if (oTable.fnIsOpen(nTr)) {
                    /* This row is already open - close it */
                    this.src = "/Areas/assets/advanced-datatable/examples/examples_support/details_open.png";
                    oTable.fnClose(nTr);
                }
                else {
                    /* Open this row */
                    this.src = "/Areas/assets/advanced-datatable/examples/examples_support/details_close.png";
                    oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
                }
            });
        });
</script>