@using PagedList
@using PagedList.Mvc
@model Tuple<IPagedList<News>, IPagedList<Article>>

    @*<div class="col-lg-8 post-list" id="twoContent">*@
        <!-- Start latest-post Area -->

    <div class="popular-post-wrap">
        <h4 class="title">Haberler</h4>
        @if (Model.Item1.Count == 0)
        {
            <h2 style="color:red">Aramanızla eşleşen sonuç bulunamadı</h2>
        }
        <div class="row mt-20 medium-gutters">
            @foreach (News item in Model.Item1)
            {

                <div class="col-lg-6 single-popular-post">
                    <div class="feature-img-wrap relative">
                        <div class="feature-img relative">

                            <div class="overlay overlay-bg"></div>
                            @if (item.ImagePath == "Dosya Boş")
                            {
                                <img class="img-fluid" src="~/Pictures/Site/news-default.jpg" style="height:200px; width:400px" />
                            }
                            else
                            {
                                <img class="img-fluid" src="@item.ImagePath" style="height:200px; width:400px" />
                            }
                        </div>
                        <ul class="tags">
                            <li>@Html.ActionLink(@item.Category.CategoryName, "SelectbyCategory", new { id = item.CategoryID })</li>
                        </ul>
                    </div>
                    <div class="details" style="color:black">
                        <h4>
                            @Html.ActionLink(item.Title, "DetailsNews", "Member", new { category = Url.FriendlyURLTitle(item.Category.CategoryName), Title = Url.FriendlyURLTitle(item.Title), id = item.ID, catID = item.CategoryID }, new { style = "color:black" })
                        </h4>
                        <ul class="meta">
                            <li><span class="lnr lnr-calendar-full"></span>@item.CreatedDate</li>
                        </ul>
                        <p class="excert">
                            @item.Summary
                        </p> <hr />
                    </div>
                </div>
            }

        </div>
        <div class="load-more">
            <div class="pagedList">
                @Html.PagedListPager(Model.Item1, page => Url.Action("PartialSearch", "Member", new { result = ViewBag.Keyword, result2 = ViewBag.Keyword2, page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.PageNumbersOnly, new AjaxOptions
                {

               InsertionMode = InsertionMode.Replace,
               HttpMethod = "Get",
               UpdateTargetId = "twoContent"
           }))
            </div>
        </div>
    </div>
        <!-- End latest-post Area -->
        <!-- Start popular-post Area -->
    <div class="popular-post-wrap">
        <h4 class="title">Yazılar</h4>
        @if (Model.Item2.Count == 0)
        {
            <h2 style="color:red">Aramanızla eşleşen sonuç bulunamadı</h2>
        }
        <div class="row mt-20 medium-gutters">
            @foreach (Article item in Model.Item2)
            {
                <div class="col-lg-6 single-popular-post">
                    <div class="feature-img-wrap relative">
                        <div class="feature-img relative">
                            <div class="overlay overlay-bg"></div>
                            @if (item.ImagePath == "Dosya Boş")
                            {
                                <img class="img-fluid" src="~/Pictures/Site/news-default.jpg" style="height:200px; width:400px" />
                            }
                            else
                            {
                                <img class="img-fluid" src="@item.ImagePath" style="height:200px; width:400px" />
                            }
                        </div>
                        <ul class="tags">
                            <li>@Html.ActionLink(@item.Category.CategoryName, "SelectbyCategory", new { id = item.CategoryID })</li>
                        </ul>
                    </div>
                    <div class="details">
                        <h4>@Html.ActionLink(item.Title, "DetailsArticle", "Member", new { category = Url.FriendlyURLTitle(item.Category.CategoryName), Title = Url.FriendlyURLTitle(item.Title), id = item.ID, catID = item.CategoryID }, new { style = "color:black" })</h4>
                        <ul class="meta">
                            <li>@Html.ActionLink(item.Columnist.FullName, "DetailsColumnist", "Member", new { FirstName = @Url.FriendlyURLTitle(item.Columnist.FirstName), LastName = @Url.FriendlyURLTitle(item.Columnist.LastName), id = item.ColumnistID }, new { @class = "lnr lnr-user" })</li>
                            <li><span class="lnr lnr-calendar-full"></span>@item.CreatedDate</li>
                        </ul>
                        <p class="excert">
                            @item.Summary
                        </p> <hr />
                    </div>
                </div>
            }


        </div>
        <div class="load-more">
            <div class="pagedList">
                @Html.PagedListPager(Model.Item2, page2 => Url.Action("PartialSearch", "Member", new { result = ViewBag.Keyword, result2 = ViewBag.Keyword2, page2 }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.PageNumbersOnly, new AjaxOptions
                {

               InsertionMode = InsertionMode.Replace,
               HttpMethod = "Get",
               UpdateTargetId = "twoContent"
           }))
            </div>
        </div>
    </div>
        <!-- End popular-post Area -->
    @*</div>*@